<p id="notice"><%= notice %></p>

<h1>カテゴリ一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>詳細</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to category do %>
              <%= category.name %>
          <% end %>
        </td>
        <td><%= category.description %></td>
        <td><%= link_to '編集', edit_category_path(category) %></td>
        <td><%= link_to '削除', category, method: :delete, data: { confirm: '本当にいいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
